.settings {
	table input {
		background: #fff;
		border: 1px solid #3c90df;
		width: 80%;
	}
	table {
		input[type='text']:disabled {
			color: #9e9e9e;
			background: transparent;
			border: none;
		}
		.password {
			input {
				display: none;
				border: 1px solid #929292;
			}
		}
		.wrap {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.table-tool {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
}
