.btn {
	margin-left: 5px;
	margin-right: 5px;
}


.menu-wrapper {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.invite-mail {
	flex: 1;
	border: 1px solid lightgray;
	border-radius: 5px;
	height: 100%;
	padding: 0.5em;
}

.invite-form {
	display: flex;
	align-items: center;
	height: 38px;
}

#error {
	display: block;
}