.simplebar-scroll-content {
	overflow-y: hidden !important;
}
.simplebar-content {
	overflow-x: hidden !important;
}
#sidebar .content-header {
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}
