.table td,
.table th {
	border-top: none !important;
}
.review {
	display: flex;
	justify-content: flex-end;
}
td p {
	margin-bottom: 0 !important;
}
.tableTitle {
	border: none;
	background: transparent;
	width: 100%;
	color: #3c90df;
}
