table input {
	width: 100%;
	border: none;
	background: transparent;
}
table {
	input[type='text']:disabled {
		color: #9e9e9e;
	}
	.password {
		input {
			display: none;
			border: 1px solid #929292;
		}
	}
}
.table-tool {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}


.react-phone-number-input__icon {
	display: flex;
}

.location-search-input.form-control {
	padding: 0;
	height: auto;
	border: none;
	color: black;
}

table .password input {
	display: inline-block;
	width: 200px;
	margin: 8px 5px 5px;
	padding: 5px;
	border: none;
}

#login-password-error {
	margin-left: 11px;
	margin-top: 3px;
	display: block;
}


.locationdetail-form {
	display: flex;
	justify-content: 'space-between';
	
	input {
		border: 1px solid lightgray;
		border-radius: 5px;
		padding: 0 0.5em;
		margin: 0 5px;
		height: 30px;
	}
}
