.autocomplete-dropdown-container {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1000;
  border: solid 1px #e6e6e6;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  background: white;

  & .suggestion-item:hover {
    background: #e6ebf4;
  }

  &.hide {
    display: none;
  }

  &.show {
    display: block;
  }
}

.gc-locationdetail-form {
  display: flex;
	justify-content: space-between;
	
	input {
		border: 1px solid lightgray;
		border-radius: 5px;
		padding: 0 0.5em;
		margin: 0 5px;
    height: 30px;
    min-width: 80px;
    flex: 1;

    &:focus {
      width: 150px;
      flex: auto;
    }
  }
  select {
		border: 1px solid lightgray;
		border-radius: 5px;
		padding: 0 0.5em;
		margin: 0 5px;
    height: 30px;
    min-width: 80px;
    flex: 1;

    &:focus {
      width: 150px;
      flex: auto;
    }
	}
}